<div class="container"> <!-- ここを追加 -->
      <div class="row">
        <div class="col-md-4">
			<h1>投稿編集ページ</h1>
		</div>
			<div class="col-md-8">
				<%= form_for(@topix,url:"/users/topic/#{@topix.id}") do |f| %>
    			<h4>Title</h4>
    				<%= f.text_field :title %>
    			<h4>Body</h4>
    				<%= f.text_area :body %>
   				<p>
    				<%= f.submit 'Update Book' %>
    			</p>
				<% end %>
			</div>
	</div>
</div>

