ddd
<%=link_to"ログイン",user_session_path %>
<%=link_to"登録",new_user_registration_path %>
<div class="container">
<div class="main-visual">
    <div class="main-visual-content">
<p class="main-visual-text">
       Good afternoon, I’m arisa, I’ll be your server for tonight.<br>
        "あなたのクローゼット"にようこそ　！
      </p>
  </div>
</div>
<div class="main-visual2">
    <div class="main-visual-content">
<p class="main-visual-text">
	毎日のコーディネートに悩む時間を<br>
	短縮しましょう！
</p>
</div>
</div>
</div>