<div class="container">
	<div class="main-visual">
    	<div class="main-visual-content">
			<p class="main-visual-text">
       			Good afternoon, I’m arisa, I’ll be your server for tonight.
      		</p>
      		<p class="main-visual-name">
      			<br>
      			<br>
      		"あなたのクローゼット"にようこそ"　！
      		</p>
  		</div>
	</div>
	<div class="main-visual2">
    	<div class="main-visual-content2">
			<p class="main-visual-text">
				毎日のコーディネートに悩む時間を<br>
				短縮しましょう！
			</p>
		</div>
	</div>
	<div class="main-visual3">
		<div class="main-visual-content3">
			<p class="main-visual-text">
				さあ、今すぐ、”あなたのクローゼット”に登録して<br>
				<br>
				素敵なファッショニスタになりましょう！！
			</p>
		</div>
	</div>
	<footer>
	<div id="button">About</div>
	<div id="container">
	<div id="cont">
		<div class="copyright">
			<p>© 2020 - Organisation</p>
		</div>
		<div class="sns">
			<h2>
				あなたクローゼット
			</h2>
			"天気予報とファッションをつなぐアプリ"

		</div>
	</div>
	</div>
</footer>
</div>
